<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @users_virtual_machine.state %>
</p>

<%= link_to 'Edit', edit_users_virtual_machine_path(@users_virtual_machine) %> |
<%= link_to 'Back', users_virtual_machines_path %>
