<h1>Editing Disk</h1>

<%= render 'form' %>

<br><br>

<%= link_to 'Show', user_virtual_machine_disk_path(@virtual_machine, @disk) %> |
<%= link_to 'Back', user_virtual_machine_path(@virtual_machine) %>

<br><br>