<div class="center-align">
	<h2>Disk</h2>
	<p>
	  <strong>Label:</strong>
	  <%= @disk.label %>
	</p>
	<p>
	  <strong>Model:</strong>
	  <%= @disk.model %>
	</p>
	<p>
	  <strong>Capacity:</strong>
	  <%= @disk.capacity %>
	</p>

	<br><br>
</div>
<%= link_to '« Back', admin_virtual_machine_path(@virtual_machine) %>
