/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";

// Colors
// ==========================================================================

$primary-color: color("indigo", "lighten-1") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("teal", "lighten-1") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;

// Cards
// ==========================================================================

$card-padding: 24px !default;
$card-bg-color: color("grey", "darken-2") !default;


@import 'materialize';
@import "materialize/extras/nouislider";

html {
    font-family: 'Raleway', sans-serif;
  }
body {
  background-color: color("grey", "darken-4");
  color: color("grey", "lighten-2");
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.card-title {
    color: #192038;
    font-size: 30px;
}

.input-field label:not(.label-icon).active {
    left: 0.75rem;
    transform: translateY(-170%);
}

a{
  color: #e0e0e0; 
}

.shared_links{
  margin-top: 40px;
}

.google{
  background-color: #a04e4e;
  margin-top: 20px;
}